<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet"  href="/assets/styles.css">
    <title>Agregar</title>
</head>
<body>
    <h1>Actualizar persona</h1>

    <form action="/updatePerson" method="post">
        <label for="nss">NSS</label>
        <input type="text" id="nss" name="nss" value="<%= `${myPerson.nss}`%>" required><br><br>
        <label for ="nombre">Nombre</label>
        <input type="text" id="nombre" name="nombre" value="<%= `${myPerson.nombre}`%>" required><br><br>
        <label for="edad">Edad:</label>
        <input type="number" id="edad" name="edad" value="<%= `${myPerson.edad}`%>" required><br><br>
        <label for="tipoSangre">Tipo de sangre:</label>
        <input type="text" id="tipoSangre" name="tipoSangre" value="<%= `${myPerson.tipoSangre}`%>" required><br><br>
        <label for="objId">ID:</label>
        <input type="text" id="objId" name="objId" value="<%= `${myPerson._id}`%>"><br><br>

        <input type="submit" value="Submit">
    </form>
    
</body>
</html>