<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Personas</title>
    <link rel="stylesheet"  href="/assets/styles.css">
</head>
<body>
    <h1>Personas:</h1>
    <main>
        <table>
            <thead>
                <tr>
                    <th>NSS</th>
                    <th>Nombre</th>
                    <th>Tipo de Sangre</th>
                    <th>Edad</th>
                    <th></th>
                    <th></th>
                </tr>
            </thead>
            <tbody>
                <% for (let i = 0; i < Persons.length; i++) { %>
                <tr>
                    <td><%= Persons[i].nss %></td>
                    <td><%= Persons[i].nombre %></td>
                    <td><%= Persons[i].tipoSangre %></td>
                    <td><%= Persons[i].edad %></td>
                    <td><a href="">Delete</a></td>
                    <td><a href="">Update</a></td>
                </tr>
                <% } %>
            </tbody>
            <tfoot>
                <tr>
                    <td colspan="6">
                        Total de Registros: <b><%= Object.keys(Persons).length %></b>
                    </td>
                </tr>
            </tfoot>
        </table>
        <div class="add-btn-container">
            <a href="./addPerson">Agregar</a>
        </div>
    </main>
</body>
</html>